body{
    background: #1d1d1f;
    font-family: 'Syne Mono', monospace;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.contenedor{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.contenido-principal{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.contenido-principal__imagen{
    vertical-align: top;
    margin-right: 20px;
    width: 40%;
    max-width: 550px;
    border-radius: 10px;
}

.contenido-principal__contenedor{
    width: 50%;
}

.contenido-principal__titulo{
    font-size: 28px;
}

.contenido-principal__resumen{
    line-height: 30px;
    color: #cfcfcf;
}

/* --------carousel-------- */
.carousel__contenedor{
    position: relative;
}

.carousel__anterior, 
.carousel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: 30%;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    opacity: 30%;
}


.carousel__anterior{
    left: -60px;
}

.carousel__siguiente{
    right: -30px;
}


.carousel__elemento{
    text-align: center;
    padding: 2px;
}


@media screen and (max-width: 800px){
    body{
        padding: 40px 0;
    }

    .contenido-principal{
        flex-direction: column;
    }

    .contenido-principal > *{
        width: 100%;
    }
}

